# Ignore colcon build directories and artifacts
build/
install/
log/
*.pyc
*.swp
.DS_Store

# Ignore editor-specific or OS-specific files
.vscode/
.idea/
Thumbs.db

# Ignore everything inside ros2-projects
ros2-projects/*

# Allow tracking of ros2_control_ws and all its contents
!ros2-projects/ros2_control_ws/
!ros2-projects/ros2_control_ws/**

# Explicitly ignore colcon build directories inside ros2_control_ws
ros2-projects/ros2_control_ws/build/
ros2-projects/ros2_control_ws/install/
ros2-projects/ros2_control_ws/log/

